html{
  background-color :rgb(5, 39, 63)
}

body{
  background-color: rgb(27, 72, 102);
  max-width:900px;
  margin: 0 auto;
  color:azure;
}
h1, footer{
  border: 3px  black;
  text-align: center;
  font-size: x-large;
  margin:10px;
  padding:10px;
}
h2{
  font-size: large;
}
h3{
  font-size: medium;
  text-align: center;
}
a{
  text-decoration:none;
  color:inherit;
}
a:hover{
  color:burlywood;
}
.navbar{
  display: inline;
  padding: 1px;
  margin: 10px;
  border:1px ;
  background-color:rgb(79, 88, 214);
}
nav{
  text-align: center;
  }
  section{
    border:5px  rgb(49, 46, 228);
    text-align: center; 
    margin:20px;
    background-color : rgb(5, 39, 63);
}
header h1{
  background-color : rgb(5, 39, 63)
}
img{
  
  width:400px;
}
ul{
  list-style-type: circle;
  list-style-position: inside;
}
ol{
  list-style-type: lower-roman;
  list-style-position: inside;
}
button{
  background-color:rgb(130, 137, 233);
}